In [6]:
a = "a","b","c"
b = "brawi", 
c = ("bandung")
# harus berakhiran , jika item cuma 1 atau menggunakan funsi tupple()

In [7]:
print(f"variable a: {a} bertipedata {type(a)}")
print(f"variable b: {b} bertipedata {type(b)}")
print(f"variable c: {c} bertipedata {type(c)}")

variable a: ('a', 'b', 'c') bertipedata <class 'tuple'>
variable b: ('brawi',) bertipedata <class 'tuple'>
variable c: bandung bertipedata <class 'str'>

In [9]:
#indexing dan slicing
hari = ("senin","selasa","rabu","kamis")

#indexing
print(hari[0]) # pertama
print(hari[2]) # ketiga
print(hari[-1]) # terakhir

senin
rabu
kamis

In [10]:
#slicing 
print(hari[:]) # semua
print(hari[0]) # pertama
print(hari[1:]) # kedua - akhir
print(hari[:2]) # pertama - ketiga
print(hari[1:3]) # kedua - keempat
print(hari[0:3:2]) # pertama - keempat skil 1 item
print(hari[::-1]) # membalik

('senin', 'selasa', 'rabu', 'kamis')
senin
('selasa', 'rabu', 'kamis')
('senin', 'selasa')
('selasa', 'rabu')
('senin', 'rabu')
('kamis', 'rabu', 'selasa', 'senin')

In [11]:
# tuple comparisons
a = (1,2,3)
b = (1,2,3)

print(f"a == b --> {a == b}")
print(f"a >= b --> {a >= b}")
print(f"a <= b --> {a <= b}")
print(f"a > b --> {a > b}")
print(f"a < b --> {a < b}")
print(f"a != b --> {a != b}")

a == b --> True
a >= b --> True
a <= b --> True
a > b --> False
a < b --> False
a != b --> False

In [14]:
# tuple method
score = (90,100,88,90,75,69,90)

#count()
score_90 = score.count(90)
print(f"total yg mendapat nilai 90: {score_90}")

total yg mendapat nilai 90: 3

In [17]:
#index()
score_100 = score.index(100)
print(f"nilai 100 berapa pada indexs: {score_100}")

nilai 100 berapa pada indexs: 1

In [20]:
# update() 

a = {"A":100, "B":85,"C":70}
b = {"D":60}

a.update(b)
print(a)

{'A': 100, 'B': 85, 'C': 70, 'D': 60}

In [21]:
#pop() menghapus
a = {"A":100, "B":85,"C":70, "D":60}

a.pop("D")
print(a)

{'A': 100, 'B': 85, 'C': 70}